footer{
    margin: 0 auto;
    width: 1024px;
    height: 100px;
    background: pink;
}

.copyright{
    font-size: 16px;
    line-height: 26px;
    font-family: Nunito;
    padding-top: 1px;
    text-align: center;
    height: 57px;
}

.black-line{
    height: 40px;
    background: #000
}

.bottom-line{
    padding: 0 60px;
    height: 50px;
}
